.footer {
    .container {
        height: 100%;
    }
    height: 4.75rem;
    background-color: var(--main-color);

    &__flex {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;

        @include media(570px) {
            flex-direction: row;
            justify-content: space-between;
            gap: unset;
        }
    }
    &__copyright {
        color: var(--title-color);
        font-weight: 400;
        font-size: 4.17vw;
        line-height: 5.20vw;
        @include media(570px) {
            font-size: 1.3vw;
            line-height: 2vw;
        }
        @include media(992px) {
            font-size: 12px;
            line-height: 22px;
        }
    }
    &__links {
        display: flex;
        gap: 7px;
    }
}