.portfolio {
    padding: 3.75rem 0;
    background: var(--main-color);
    &__main-title {
        text-align: center;
        color: var(--title-color);
        font-size: 5.8vw;
        line-height: 3.4vw;
        @include media(440px) {
            text-align: left;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        @include media(570px) {
            text-align: left;
            font-size: 2.9vw;
            line-height: 1.76vw;
        }
        @include media(992px) {
            font-size: 30px;
            line-height: 30px;
        }
    }
    &__intro {
        text-align: center;
        color: var(--text-color);
        font-weight: 300;
        font-size: 5vw;
        line-height: 5.3vw;
        @include media(440px) {
            text-align: justify;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        @include media(570px) {
            text-align: left;
            font-size: 2vw;
            line-height: 2.9vw;
        }
        @include media(992px) {
            font-size: 18px;
            line-height: 30px;
        }
    }
    &__sort {
        margin-top: 20px;
        margin-left: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2.45vw;
    }
    &__sort-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: var(--text-color);
        text-align: center;
        font-weight: 400;
        font-size: 5vw;
        line-height: 6vw;
        border: 1px solid var(--title-color);
        border-radius: 5px;
        height: 6.875vw;
        @include media(570px) {
            height: 2.16vw;
            font-size: 1.18vw;
            line-height: 2.16vw;
        }
        @include media(992px) {
            font-size: 12px;
            height: calc(1em + 12px);
        }
        &.is-active {
            border-color: #c5c5c5;
            color: #dedede;
        }
    }
    &__sort-text {
        margin: 6px;
    }
}
.gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 220px);
    grid-auto-rows: 190px;
    justify-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    &__item {
        min-width: 100%;
        min-height: 100%;
        position: relative;
        box-sizing: border-box;
    }

    #img-1 {
        background: url(../img/gallery/1.png);
        background-size: cover;
        background-position: center center;
    }
    #img-2 {
        background: url(../img/gallery/2.png);
        background-size: cover;
        background-position: center center;
    }
    #img-3 {
        background: url(../img/gallery/3.png);
        background-size: cover;
        background-position: center center;
    }
    #img-4 {
        background: url(../img/gallery/4.png);
        background-size: cover;
        background-position: center center;
    }
    #img-5 {
        background: url(../img/gallery/5.png);
        background-size: cover;
        background-position: center center;
    }
    #img-6 {
        background: url(../img/gallery/6.png);
        background-size: cover;
        background-position: center center;
    }
    #img-7 {
        background: url(../img/gallery/7.png);
        background-size: cover;
        background-position: center center;
    }
    #img-8 {
        background: url(../img/gallery/8.png);
        background-size: cover;
        background-position: center center;
    }
    #img-9 {
        background: url(../img/gallery/9.png);
        background-size: cover;
        background-position: center center;
    }
    #img-10 {
        background: url(../img/gallery/10.png);
        background-size: cover;
        background-position: center center;
    }
    #img-11 {
        background: url(../img/gallery/11.png);
        background-size: cover;
        background-position: center center;
    }
    #img-12 {
        background: url(../img/gallery/12.png);
        background-size: cover;
        background-position: center center;
    }

    @include media(570px) {
        grid-template-columns: repeat(2, 220px);
    }
    @include media(768px) {
        grid-template-columns: repeat(3, 220px);
    }
    @include media(1080px) {
        grid-template-columns: repeat(4, 220px);
    }
}